body {
    background-color: #FFFFFF;
    background-image: url("https://cdn.pixabay.com/photo/2018/03/10/12/00/teamwork-3213924_1280.jpg");
    background-attachment: fixed;
    background-size: cover;
}